
th, td {
    width: 20em;
    text-align: center;
    margin-bottom: .9em;
}

th {
    color: white;
}


#title {
 width: 50%;   
}

#view {
    width: 60%;
    margin: auto;
    margin-top: 2em;
    color: #6c757d;
}

.form-check {
    margin-bottom: .3em;
}

input{
    margin: auto;
}

.btn-success {
    margin-left: 1.7em;
}

input.form-check.dontknow {
    margin-bottom: .9em;
}
.wasav {
    width: 8em;
    margin-bottom: .8em;
}

