.move-right {
    /* This fills the remaining space, by using flexing
    Every toolbar*/
    flex: 1 1 auto;
}
th, td {
    width: 20em;
    text-align: center;
    margin-bottom: .9em;
}

th {
    color: white;
}
mat-toolbar {
    height: 110px;
    background-color: #ffffff;
    //border: solid #b9b9b9 .1px;
    box-shadow: 2px 2px 10px #6c757d;
    border-radius: 15px 15px 0 0;
}

.allo {
    padding-right: 5em;
    width: 90%;
}

#title {
 width: 50%;   
}

#view {
    width: 60%;
    margin: auto;
    margin-top: 2em;
    color: #6c757d;
}

.form-check {
    margin-bottom: .3em;
}

input{
    margin: auto;
}

.btn-success {
    margin-left: 1.7em;
}

input.form-check.dontknow {
    margin-bottom: .9em;
}
.wasav {
    width: 8em;
    margin-left: 5em;
}
.outils {
    font-size: 1em;
}
