<div id="view" class="table">
    <mat-toolbar color="#ffffff">
        <span class="outils">Outils</span>
      
        <!-- This fills the remaining space of the current row -->
        <span class="move-right"></span>
        
        <span>
          <!-- Liste déroulante pour afficher / masquer les colonnes -->
          <mat-form-field>
              <mat-select 
              placeholder="Afficher" 
              [formControl]="columns" 
              [(ngModel)]= "selectedValue"  
              [(value)]="selectedOptions"
              (selectionChange)="changeView($event)"
               multiple>
               <!-- selectedValue : ce qui permet que les boîtes soient cochées
                    selectedOptions permet de garder les values
                    changeView, une méthode inventé qui récupère ce qui a été sélectionné par l'utilisateur-->
                <mat-option *ngFor="let columns of helper.getOptionalColumns();" [value]="columns.value">{{columns.title}}</mat-option> <!--ce qui sera afficher-->
              </mat-select>
            </mat-form-field>
            
          <button 
          type="button" 
          (click)="deleteCheckedTwo()"  
          class="btn btn-warning wasav"  
          style="border-radius: 0 0 0 0" 
          [disabled]="noneChecked()"
          >
            Delete
          </button>
        </span>
        
      </mat-toolbar>
        
  
    <mat-table #todo [dataSource]="dataSource" matSort>
    <!--pour construire mon tableau, je vais utiliser le datasource-->

    <!--Titre -->
    <ng-container matColumnDef="title" id="titleTable">
      <mat-header-cell *matHeaderCellDef>{{ helper.getColumn('title').title }}</mat-header-cell> 
      <mat-cell  *matCellDef="let todo">{{todo.title}}</mat-cell> <!--dit d'ou je sors l'information-->
    </ng-container>

    <!-- Date de début -->
    <ng-container matColumnDef="begin">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ helper.getColumn('begin').title }}</mat-header-cell> 
        <mat-cell *matCellDef="let todo">{{ todo.begin | date: 'dd-MM-yyyy' }}</mat-cell> <!--dit d'ou je sors l'information-->
    </ng-container>

    <!-- Date de fin -->
    <ng-container matColumnDef="end">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ helper.getColumn('end').title }}</mat-header-cell> 
        <mat-cell *matCellDef="let todo">{{ todo.end | date: 'dd-MM-yyyy' }}</mat-cell> <!--dit d'ou je sors l'information-->
    </ng-container>


    <!-- Modification d'un todo -->
    <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef>{{ helper.getColumn('update').title }}</mat-header-cell> 
        <mat-cell *matCellDef="let todo">
          <button mat-button color="accent" (click)="update(todo)">
            <mat-icon aria-label="Modifier le todo">
              create
            </mat-icon>
          </button>
        </mat-cell>
    </ng-container>

    <!-- Bouton de suppression -->
    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>{{ helper.getColumn('delete').title }}</mat-header-cell> 
        <mat-cell *matCellDef="let todo">
          <button mat-button color="warn" (click)="delete(todo)">
            <mat-icon aria-label="Supprimer le todo">
              delete
            </mat-icon>
          </button>
        </mat-cell>
    </ng-container>
<!-- dit d'aller chercher pour l'entête dans displayedColumns et aller chercher les lignes dasn row et columns.-->
    <mat-header-row *matHeaderRowDef="helper.getDisplayedColumns()"></mat-header-row>
    <mat-row *matRowDef="let row; columns: helper.getDisplayedColumns();"></mat-row>
  </mat-table>

</div>
  
  <!--button type="button" (click)="deleteCheckedTwo()"  class="btn btn-warning wasav"  style="border-radius: 0 0 0 0" [disabled]="noneChecked()">Delete</button>
    <table [hidden]="todos.length == 0">
        <thead class="bg-success">
          <tr>
            <th><input class="form-check"  type="checkbox" (click)="checkUnCheckAll()" [checked]=checkedStatus>
            </th>
            <th id="title">TITRE</th>
            <th>DEBUT</th>
            <th>FIN</th>
            <th></th>
          </tr>
        </thead>

<tbody><tr *ngFor="let todo of todos; let i = index;">
      <!-- boucle todo, dès que j'en vois un, je les todos et le range dans une variable i
      <td>
        <input class="form-check" type="checkbox" (click)="toggle(i)" [checked]=todo.isChecked>
      </td>
      <td [ngClass]="{strikeOut: todo.isChecked}">{{ todo.title }}</td>
      <td [ngClass]="{strikeOut: todo.isChecked}">{{ todo.begin | date: 'dd-MM-yyyy' }}</td>
      <td [ngClass]="{strikeOut: todo.isChecked}">{{ todo.end | date: 'dd-MM-yyyy'  }} </td>
      <td>
        <button type="button" (click)="delete(i)" class="btn btn-warning">
          <i class="fa fa-trash"></i>
        </button>
        <button
          class="btn btn-success"
          type="button"
          (click)="update(todo)">
          <i class="fa fa-chevron-circle-up "></i>
        </button>
      </td>
    </tr>
  </tbody>
  </table>
  </div-->